body {
    background: rgba(146, 146, 148, 0.527);
}

.hyperlinks h1{
    color:blue;
    display: inline;
    float: right;
    text-align: center;
    width: 14%;
}

#bannerimage {
    width: 100%;
    background-image: url(https://i.imgur.com/BvxfGeM.jpg?1);
    height: 600px;
    position: inline;
}

#family {
    float: left;
    margin-right: 50px;
    margin-bottom: 100px;
}

#paragraph {
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 900px;
    line-height: 2;
    text-align: left;
    vertical-align: text-bottom;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(3, 3, 3);
    height: 50px;
    color: azure;
    text-align: center;
}
